body {
  margin: 0;
  text-align: center;
  background: rgb(255, 255, 255);
}

nav {
  background: linear-gradient(90deg, rgb(35, 27, 141), rgb(68, 128, 197));
  padding: 20px;
}

a {
  font-size: 30px;
  padding-inline: 10%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: fantasy;
}

a:hover {
  background-color: rgba(10, 16, 70, 0.4);
  padding: 20px;
  padding-inline: 10%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: rgb(149, 113, 190);
  margin-inline: 150px;
}

input {
  width: 180px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-width: 1px;
}

#submit {
  font-size: 17px;
  height: 40px;
  width: 120px;
  background-color: #468ce9;
  border: none;
  border-radius: 1px;
  color: white;
}

#submit:hover {
  background-color: #4ab3ce;
}

::placeholder {
  color: rgb(158, 158, 158);
  position: relative;
  top: 5px;
  padding: 5px;
  font-size: 25px;
}

.item-container {
  position: relative;
  height: 40px;
  width: 300px;
  padding: 20px;
  background-color: rgb(106, 71, 187);
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  color: aliceblue;
}

.item-list {
  display: inline-block;
  text-align: left;
  padding: 10px;
  margin-inline: 200px;
}

span {
  position: absolute;
  padding-inline: 5px;
  margin-inline: 2px;
}

#span-desc {
  top: 10px;
  left: 20px;
  display: inline-block;
}

#span-date {
  top: 10px;
  right: 10px;
  display: inline-block;
  color: aliceblue;
}

#span-tag {
  bottom: 13px;
  left: 19px;
  display: inline-block;
  color: rgb(72, 201, 218);
  border-radius: 2px;
}

#buttons {
  bottom: 0;
  right: 0;
}

#taskBtn {
  font-size: 20px;
  padding: 3px;
  border: none;
  float: right;
  margin: 4px;
  background-color: transparent;
  color: aliceblue;
}

.search-form-container {
  margin: 20px;
  margin-bottom: 0px;
}

.info-box {
  margin: 5px;
  padding: 40px;
  text-align: left;
  background-color: rgb(177, 189, 250, 0.3);
  font-size: 16px;
  margin-inline: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(17, 17, 17);
}

.licence-box {
  margin: 5px;
  padding: 20px;
  text-align: left;
  background-color: rgb(177, 189, 250, 0.3);
  font-size: 14px;
  margin-inline: 20%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(17, 17, 17);
}

#licence {
  font-size: 14px;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blue;
}

#licence:hover {
  background-color: transparent;
}
