* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

body {
  background: rgb(147, 156, 252);
}

h1 {
  padding: 10px;
}

div {
  padding: 10px;
}

button {
  background-color: rgb(61, 59, 59);
  padding: 1px;
  margin: 1px;
  color: aliceblue;
}

nav a {
  padding: 10px;
  background-color: rgb(61, 59, 59);
  color: aliceblue;
}
